<a href="https://colab.research.google.com/github/jabanitaha/data-mining-2-/blob/main/Practical_on_pyhton_Dr_Alaa_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Arthemtic Operation

In [1]:
a=10
b=5
sum=a+b
print(sum)

15

In [2]:
differance=a-b
print(differance)

5

In [3]:
product=a*b
print(product)

50

In [4]:
divison=a/b
print(divison)

2.0

In [6]:
print("Sum" ,sum)
print("Differance" ,differance)
print("Product" ,product)
print("Divison" ,divison)

Sum 15
Differance 5
Product 50
Divison 2.0

In [9]:
print(f"the sum of the two number  a , b is (sum)")  # couldnt insert the symbol of curly bracket in python shift + C

the sum of the two number  a , b is (sum)

In [10]:
x=a//b
print(x)

2

In [11]:
x=13//2
print(x)

6

In [13]:
y=13%2
print(y)

1

In [15]:
x=13//2
print(x)
y=13%2 # 13 divied by 2 reminder 1
print(y)

6
1

# boolean Variables and comparsion

In [21]:
x=10
y=5
is_greater=x>y
is_equal=x==y
is_not_equal=x!=y
print("is x grater than y ?",is_greater)
print("is x equal y ?" ,is_equal)
print("is x not equal y ? ", is_not_equal)

is x grater than y ? True
is x equal y ? False
is x not equal y ?  True

**# Variable Assigment **

In [26]:
name="Yacoub"
age=45
is_engineer= True
print(f"{name} age is ,{age} ,he is engineer {is_engineer}")

Yacoub age is ,45 ,he is engineer True

# Define and using a function

In [32]:
def greet(name):
 return("Hello," + name +"!")
greet("Yacoub")

'Hello,Yacoub!'

In [34]:
my_name=input("Enter your name")
greet("my_name")

Enter your nameyacoub banitaha

'Hello,My name !'

In [38]:
def add_numbers(a,b):
 return(a+b)
a=input("Enter the first number")
b=input("Enter the second number")
addition_value= add_numbers(a,b)
print(f"the results of addition of {a},{b} is {addition_value}")

Enter the first number10
Enter the second number20
the results of addition of 10,20 is 1020

In [39]:
def add_numbers(a,b):
 return(a+b)
a=int(input("Enter the first number"))
b=int(input("Enter the second number"))
addition_value= add_numbers(a,b)
print(f"the results of addition of {a},{b} is {addition_value}")

Enter the first number10
Enter the second number20
the results of addition of 10,20 is 30

In [40]:
def add_numbers(a,b):
 return(a+b)
a=eval(input("Enter the first number"))
b=eval(input("Enter the second number"))
addition_value= add_numbers(a,b)
print(f"the results of addition of {a},{b} is {addition_value}")

Enter the first number10
Enter the second number20
the results of addition of 10,20 is 30

In [42]:
def add_numbers(a,b):
 return(a+b)
a=eval(input("Enter the first number"))
b=eval(input("Enter the second number"))
addition_value= add_numbers(a,b)
print(f"the results of addition of {a},{b} is {addition_value}")

Enter the first number10
Enter the second number-5
the results of addition of 10,-5 is 5

# working with strings

In [46]:
message="Hello ,World"
length=len(message)
uppercase=message.upper()
lowercase=message.lower()
substring=message[7:12]
print("oringinal message:",message)
print("the length is " ,length)
print("upper case is :" , uppercase)
print("lowercase is :" ,lowercase)
print("substring is :" ,substring)
print("part of the message is : ", substring)

oringinal message: Hello ,World
the length is  12
upper case is : HELLO ,WORLD
lowercase is : hello ,world
substring is : World
part of the message is :  World

#basic input examples

In [49]:
Last =input("Enter the Last name  :")
First =input("Enter theFrist Name :")
print(f"{Last},{First}")

Enter the Last name  :Bani Taha
Enter theFrist Name :Yacoub
Bani Taha ,Yacoub

# Numeric input examples

In [50]:
age=int(input("Enter your age :"))
print(f"you will be" ,age + 1 , "years old next year")

Enter your age :45
you will be 46 years old next year

# calculation with input

In [52]:
num1= float(input("enter a number :"))
num2= float(input("enter another number :"))
sum_result=num1+num2
print("SUM is ",sum_result)

enter a number :12
enter another number :14
SUM is  26.0

#string with concatenation with input

In [53]:
city=input("input your city: ")
country=input("input your country ")
loaction=city + "," + country
print(f"you are from {loaction}")

input your city: aqaba
input your country jordan
you are from aqaba,jordan

# multiple input

In [59]:
name,age =("enter your name and age sperated by comma").split()
print(f"my name is {name} and my age is {age}" )
# a have wrong code even a comply with the code listed in the youtube video

ValueError: not enough values to unpack (expected 2, got 1)